Repository sendgrid/docs, pull requests merged in 2018-11, with the labels that each got.

#4647 New call-out
  content/docs/ui/account-and-settings/how-to-set-up-domain-authentication.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4649 Add Experts callout to Categories
  content/docs/glossary/categories.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4650 Add Experts callout to Reputation Monitoring
  content/docs/glossary/reputation-monitoring.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4488 Removed unnecessary wording
  content/docs/for-developers/tracking-events/event.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4655 Add Experts Callout to Google Feedback Loop
  content/docs/ui/sending-email/google-feedback-loop.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4656 Add Experts Callout to Deliverability
  content/docs/glossary/deliverability.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4657 Add Experts Callout to Deliverability Overview
  content/docs/ui/sending-email/deliverability.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4658 Fix line break error
  content/docs/ui/account-and-settings/yahoo-dmarc.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4659 Add Experts callout to Bounces
  content/docs/ui/sending-email/bounces.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4660 Add Experts callout to Blocks
  content/docs/ui/sending-email/blocks.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4661 Add callout to Link branding
  content/docs/glossary/link-branding.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4703 Update Contact Deletion Methods
  content/docs/ui/managing-contacts/managing-contact-list.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4662 Add callout to Dedicated IP addresses
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4704 Parse events in Activity Feed
  content/docs/ui/analytics-and-reporting/email-activity-feed.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4705 Update email-activity-feed.md
  content/docs/ui/analytics-and-reporting/email-activity-feed.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4706 Bounce Deletion Call Change
  source/API_Reference/Web_API_v3/bounces.apiblueprint
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4707 Update to details on sending test email in MC
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4708 Update to include clarification on the "from" address and notifications
  content/docs/ui/sending-email/senders.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4709 Update to auto/manual warm-up processes
  content/docs/ui/sending-email/warming-up-an-ip-address.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4710 Update v3-php-code-example.md
  content/docs/for-developers/sending-email/v3-php-code-example.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4711 Update cakephp.md
  content/docs/for-developers/sending-email/cakephp.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4712 This link was not working, so better to remove
  content/docs/for-developers/sending-email/phpbb.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4718 adding link tracking
  src/constants/pageLinks.js
Labels: status: docs review request

#4716 uuid-correction
  content/docs/for-developers/tracking-events/troubleshooting.md
Labels: status: docs review request

#4717 correcting UUID information
  source/API_Reference/Event_Webhook/troubleshooting.md
Labels: status: docs review request

#4713 URL was redirecting to 404 page
  content/docs/for-developers/sending-email/api-getting-started.md
Labels: status: docs review request

#4714 curl command will include content to avoid error
  content/docs/for-developers/sending-email/api-getting-started.md
Labels: status: docs review request

#4720 Merging old-develop into old-master 11.5.2018 - Hacktoberfest
  source/API_Reference/Event_Webhook/event.md
  source/API_Reference/Event_Webhook/troubleshooting.md
  source/API_Reference/Web_API/blocks.md
  source/API_Reference/Web_API_v3/API_Keys/index.apiblueprint
  source/API_Reference/Web_API_v3/IP_Management/ip_pools.md
  source/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.apiblueprint
  source/API_Reference/Web_API_v3/Webhooks/parse.apiblueprint
  source/API_Reference/Web_API_v3/blocks.apiblueprint
  source/API_Reference/Web_API_v3/bounces.apiblueprint
Labels: status: docs review request

#4727 rDNS release note
  content/docs/release-notes/2018-11-05.md
Labels: status: docs review request

#4728 Merging Develop into Master 11.6.2018 - rDNS release note
  content/docs/release-notes/2018-11-05.md
Labels: status: docs review request

#4730 Adjusted formatting on advanced IP settings
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
Labels: status: docs review request

#4729 dkim: public key is encoded in DNS, not encrypted
  content/docs/glossary/dkim.md
Labels: status: docs review request

#4732 Antispoofing Release
  content/docs/for-developers/sending-email/smtp-errors-and-troubleshooting.md
  content/docs/release-notes/2018-11-05.md
  content/docs/release-notes/2018-11-09.md
Labels: status: docs review request

#4356 CONTRIBUTING.md : Add file
  CONTRIBUTING.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: under review

#4733 Merging Develop into Master 11.9.2018 - antispoofing release, iterative updates
  CONTRIBUTING.md
  content/docs/for-developers/sending-email/smtp-errors-and-troubleshooting.md
  content/docs/glossary/dkim.md
  content/docs/release-notes/2018-11-05.md
  content/docs/release-notes/2018-11-09.md
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
Labels: status: docs review request

#4736 Update subusers.md
  content/docs/ui/account-and-settings/subusers.md
Labels: status: docs review request

#4611 Send MIME messages with SendGrid
  content/docs/for-developers/sending-email/send-mime-messages-with-sendGrid.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: under review

#4740 Title was missing from head
  content/docs/glossary/segments.md
Labels: status: docs review request

#4738 adding release note for invalid drop
  content/docs/release-notes/2018-11-14.md
Labels: status: docs review request, status: not ready

#4744 Add 30 day retention cap note to legacy API Reference Invalid email docs
  source/API_Reference/Web_API_v3/invalid_emails.apiblueprint
Labels: status: docs review request

#4745 adding 30 day cap for invalid drops
  content/docs/glossary/invalid-email.md
  content/docs/ui/sending-email/invalid-emails.md
Labels: status: docs review request

#4747 Remove Inaccuracy Related to Parent/Subuser Stats
  content/docs/ui/analytics-and-reporting/stats-overview.md
Labels: status: docs review request

#4748 Remove Inaccuracy Related to Parent/Subuser Stats
  content/docs/ui/analytics-and-reporting/categories.md
Labels: status: docs review request

#4743 fixing broken link
  content/docs/glossary/automated-email.md
Labels: status: docs review request

#4751 Unsuppress Automation docs - add Automation Group to Sending Email
  content/docs/glossary/triggered-email.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  src/constants/groups.js
  styleguide.md
Labels: status: docs review request

#4750 Merging Develop into Master 10.16.2018 - Invalid drops, subuser updates, Hacktoberfest cleanup
  content/docs/for-developers/sending-email/send-mime-messages-with-sendGrid.md
  content/docs/glossary/automated-email.md
  content/docs/glossary/invalid-email.md
  content/docs/glossary/segments.md
  content/docs/glossary/triggered-email.md
  content/docs/release-notes/2018-11-14.md
  content/docs/ui/account-and-settings/subusers.md
  content/docs/ui/analytics-and-reporting/categories.md
  content/docs/ui/analytics-and-reporting/stats-overview.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/invalid-emails.md
  src/constants/groups.js
  styleguide.md
Labels: status: docs review request

#4752 Merging Old develop into Old master 10.16.2018 - Invalid emails update.
  source/API_Reference/Web_API_v3/invalid_emails.apiblueprint
Labels: status: docs review request

#4753 removing pricing from magento docs
  content/docs/for-developers/partners/magento.md
Labels: status: docs review request

#4760 Algolia Search Absolute
  content/docs/for-developers/partners/magento.md
  src/components/Search/index.jsx
Labels: status: docs review request

#4757 Incorrect formatting on Expert Services tip
  content/docs/glossary/categories.md
Labels: status: docs review request

#4761 Fix search for local dev
  data/SiteConfig.js
  gatsby-config.js
  src/components/Search/index.jsx
Labels: status: docs review request

#4768 "removing that erroneous documentation"
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
Labels: status: docs review request

#4766 fixing the out of control tip
  content/docs/ui/account-and-settings/how-to-set-up-domain-authentication.md
Labels: status: docs review request
