Repository sendgrid/docs, pull requests merged in 2018-10, with the labels that each got.

#3961 Broken image links fixed in first-timers.md
  first-timers.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3962 fix typo errors in C# code example
  content/docs/for-developers/sending-email/v2-csharp-code-example.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3973 Update package-lock.json
  package-lock.json
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3976 Update file
  README.markdown
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#4002 Update using-handlebars.md
  content/docs/ui/sending-email/using-handlebars.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4009 Merging develop to master
  README.markdown
  first-timers.md
  package-lock.json
  source/_includes/head.html
Labels: status: docs review request

#3974 Update drupal.md
  source/Integrate/Open_Source_Apps/drupal.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3971 Fix #3751
  source/API_Reference/Web_API_v3/How_To_Use_The_Web_API_v3/authentication.md
  source/API_Reference/Web_API_v3/Mail/index.html
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#4008 Updated some of the language around the add-on
  content/docs/ui/analytics-and-reporting/email-activity-feed.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3994 Adding space after comma for consistency
  content/docs/for-developers/sending-email/api-getting-started.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3996 Update deliverability.md
  content/docs/ui/sending-email/deliverability.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3997 Fix uneven padding in Feedback Cards and Tip Callouts
  src/scss/components/_cards.scss
  src/templates/doc.scss
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3998 Fix some line height issues with headlines and card links
  src/scss/components/_cards.scss
  src/scss/global/_typography.scss
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4005 Fix erroneous adustment to HTML substitution section
  content/docs/ui/sending-email/using-handlebars.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4004 Updated link to Event Webhook getting started pg
  content/docs/for-developers/tracking-events/troubleshooting.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4003 Update "account settings" link
  content/docs/ui/sending-email/senders.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4006 Rename Twitter Bootstrap to Bootstrap
  README.markdown
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#4011 Update categories.md
  source/API_Reference/SMTP_API/categories.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3969 Noted out of date video and added new instructions
  source/User_Guide/Settings/Sender_authentication/providers.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#3972 Add type field for Event Webhook documenation
  source/API_Reference/Event_Webhook/event.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3980 Laravel example is not working correctly #3559
  source/Integrate/Frameworks/laravel.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved, status: waiting on release

#3981 Update Microsoft_Azure.md
  source/Integrate/Partners/Microsoft_Azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3985 BUGFIX: Update README to remove brew tap homebrew/versions
  README.markdown
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3986 Reindent example api responses
  README.markdown
  USAGE.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3989 Updated Symfony email documentation
  source/Integrate/Frameworks/symfony.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3990 Switch links to HTTPS
  README.markdown
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#3991 Add CakePHP Plugin under PHP libraries
  source/Integrate/libraries.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: waiting on release

#4016 README: Add Setup Step to Install Gatsby CLI
  readme.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4018 Clarity added
  content/docs/glossary/categories.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4019 Fixing typos/broken link
  content/docs/glossary/categories.md
Labels: status: docs review request

#4021 Update MC Instructions
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4027 Fixed a spelling mistake in account-migration.md
  content/docs/for-developers/partners/account-migration.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4030 Fix USAGE.md formatting and command typo
  USAGE.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4031 Content update - broken link & grammar
  content/docs/ui/sending-email/ssl-vs-tls.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4032 Updated for TLS 1.1 or higher
  content/docs/ui/sending-email/tls.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4035 Update event.md.
  content/docs/for-developers/tracking-events/event.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4036 Link updates, minor formatting & grammar changes
  content/docs/ui/sending-email/google-feedback-loop.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4037 Formatting change for the quoted RFC text
  content/docs/ui/sending-email/email-to-sms.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4039 Spelling, content consistency, grammar, formatting
  content/docs/ui/sending-email/email-flow.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4042 Hack yoda fest patch
  src/components/Search/index.jsx
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4033 Broken links, formatting, grammar.
  content/docs/ui/sending-email/dmarc.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4047 fixed broken link
  first-timers.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4046 fixed indentation in numbered list
  CONTRIBUTING.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4045 Unify subuser spelling
  content/docs/for-developers/partners/amazon-marketplace.md
  content/docs/ui/account-and-settings/account-under-review.md
  content/docs/ui/account-and-settings/troubleshooting-login.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4043 update POST response code
  source/API_Reference/Web_API_v3/Webhooks/parse.apiblueprint
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4048 updated year in the license file
  license
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4049 removed info about spellcheck
  CONTRIBUTING.md
  USAGE.md
  static/images/spellcheck-output.png
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4020 Automation Beta Docs
  content/docs/robots.txt
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request, status: not ready

#4077 Merging Develop into Master 10/8/2018 - Automation Beta docs, hacktoberfest
  CONTRIBUTING.md
  USAGE.md
  content/docs/robots.txt
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/images/spellcheck-output.png
Labels: status: docs review request

#4051 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4079 removing extraneous section
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#4080 Merging Develop into Master 10/8/2018 part 2 - Automation Beta doc update, hacktoberfest
  content/docs/for-developers/partners/microsoft-azure.md
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/glossary/domain-authentication.md
  content/docs/ui/account-and-settings/notifications.md
  content/docs/ui/account-and-settings/troubleshooting-delays-and-latency.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  src/templates/doc.jsx
Labels: status: docs review request

#4090 patch inner search
  src/components/Search/index.jsx
Labels: status: docs review request

#4091 Patch inner search
  src/components/Search/index.jsx
Labels: status: docs review request

#4076 add swoosh in the list of libraries
  content/docs/for-developers/sending-email/libraries.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4075 fix typos in smtp errors & troubleshooting guide
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/for-developers/sending-email/smtp-errors-and-troubleshooting.md
  content/docs/for-developers/sending-email/v3-ruby-code-example.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4061 escape tags to fix formatting
  content/docs/ui/sending-email/substitution-and-section-tags.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4078 Style Guide Enforcement
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  content/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook.md
  content/docs/for-developers/partners/account-migration.md
  content/docs/for-developers/partners/amazon-marketplace.md
  content/docs/for-developers/partners/azure.md
  content/docs/for-developers/partners/magento.md
  content/docs/for-developers/sending-email/applemail.md
  content/docs/for-developers/sending-email/exim.md
  content/docs/for-developers/sending-email/formio.md
  content/docs/for-developers/sending-email/how-to-create-a-subuser-with-the-api.md
  content/docs/for-developers/sending-email/iis75.md
  content/docs/for-developers/sending-email/outlook.md
  content/docs/for-developers/sending-email/thunderbird.md
  content/docs/for-developers/sending-email/zapier-sending-for-gravity-forms-submissions.md
  content/docs/for-developers/sending-email/zapier-sending-for-new-webhook-data.md
  content/docs/for-developers/sending-email/zapier-sending-from-google-sheet-rows.md
  content/docs/glossary/blacklists.md
  content/docs/glossary/bounces.md
  content/docs/glossary/categories.md
  content/docs/glossary/clicks.md
  content/docs/glossary/dmarc.md
  content/docs/glossary/drops.md
  content/docs/glossary/ip-warmup.md
  content/docs/glossary/preheader.md
  content/docs/glossary/sends.md
  content/docs/glossary/smtp-provider.md
  content/docs/ui/account-and-settings/account-under-review.md
  content/docs/ui/account-and-settings/api-keys.md
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
  content/docs/ui/account-and-settings/mail.md
  content/docs/ui/account-and-settings/safely-test-your-sending-speed.md
  content/docs/ui/account-and-settings/teammates.md
  content/docs/ui/analytics-and-reporting/browser.md
  content/docs/ui/analytics-and-reporting/categories.md
  content/docs/ui/analytics-and-reporting/email-activity.md
  content/docs/ui/analytics-and-reporting/global.md
  content/docs/ui/analytics-and-reporting/stats-overview.md
  content/docs/ui/analytics-and-reporting/subuser-comparison.md
  content/docs/ui/analytics-and-reporting/subuser.md
  content/docs/ui/analytics-and-reporting/tracking-stats-using-new-relic.md
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  content/docs/ui/sending-email/create-and-edit-transactional-templates.md
  content/docs/ui/sending-email/editor.md
  content/docs/ui/sending-email/formatting-html.md
  content/docs/ui/sending-email/old-editor-sunset.md
  content/docs/ui/sending-email/spam-traps.md
  content/docs/ui/sending-email/using-handlebars.md
  content/docs/ui/sending-email/warming-up-an-ip-address.md
  content/docs/ui/sending-email/working-with-marketing-templates.md
  first-timers.md
  styleguide.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4086 Clarify test integration in the Mail Settings
  content/docs/for-developers/tracking-events/troubleshooting.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4089 Fix link to WordPress Subscription Widget
  content/docs/for-developers/sending-email/wordpress-faq.md
  content/docs/for-developers/sending-email/wordpress-plugin.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4092 Updated troubleshooting section of postfix.md
  content/docs/for-developers/sending-email/postfix.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4094 Fixed Formatting of JSON
  .vscode/settings.json
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4106 Added CNAME meaning and grammatical revisions.
  content/docs/glossary/cname.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4101 Fix various typos in the documentation
  content/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook.md
  styleguide.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4113 update microsoft/outlook link in blacklists.md
  content/docs/ui/sending-email/blacklists.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4114 update email-activity docs
  content/docs/ui/analytics-and-reporting/email-activity-feed.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4116 fix small typo in event.md
  content/docs/for-developers/tracking-events/event.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4119 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: difficulty: medium, hacktoberfest

#4115 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: difficulty: medium, hacktoberfest

#4118 Update to teammates documentation #4110
  content/docs/ui/account-and-settings/teammates.md
Labels: status: docs review request

#4122 Email activity head matter adjustment
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
Labels: status: docs review request

#4121 Remove hyperlinks
  content/docs/ui/sending-email/recipient-subscription-preferences.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4123 Update troubleshooting.md
  content/docs/for-developers/tracking-events/troubleshooting.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4125 Update geographic.md
  content/docs/ui/analytics-and-reporting/geographic.md
Labels: status: docs review request

#4126 cleanup no longer valid favicon symlink & USAGE.md
  USAGE.md
  src/favicon.png
  yarn.lock
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4130 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4133 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4135 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4136 Update building-your-contact-list.md
  content/docs/ui/managing-contacts/building-your-contact-list.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4129 Update tracking-data-with-keen-io.md
  content/docs/ui/analytics-and-reporting/tracking-data-with-keen-io.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4134 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4137 Update billing.md
  content/docs/ui/account-and-settings/billing.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4132 Update microsoft-azure.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4143 Fix link McAfee threat Delisting Request Form
  content/docs/glossary/blacklists.md
Labels: status: docs review request

#4149 Fix link for Google Compute Engine's SendGrid page
  content/docs/for-developers/partners/google.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4017 Account Settings: Add Page - 'Verifying Your Account'
  content/docs/ui/account-and-settings/verifying-your-account.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4014 Added Jelastic landing page
  content/docs/for-developers/partners/google.md
  content/docs/for-developers/partners/jelastic.md
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4055 update subscription tracking images
  content/docs/ui/sending-email/subscription-tracking.md
  static/images/Screen_Shot_2015-05-26_at_11.38.27_AM.png
  static/images/html_body_unsubscribe.png
  static/images/unsub_app.gif
  static/images/unsub_tracking.gif
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved, status: under review

#4063 Clarify universal link attribution and apple-app-site-association
  content/docs/ui/sending-email/universal-links.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4144 Update event.md with updated flowchart diagram.
  content/docs/for-developers/tracking-events/event.md
  src/img/email-event-flow.png
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4151 Merging Develop into Master 9.10.2018 part 2 - Hacktoberfest, more automation beta changes
  USAGE.md
  content/docs/for-developers/partners/google.md
  content/docs/for-developers/partners/jelastic.md
  content/docs/for-developers/partners/microsoft-azure.md
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/for-developers/sending-email/wordpress-faq.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/for-developers/tracking-events/troubleshooting.md
  content/docs/glossary/blacklists.md
  content/docs/ui/account-and-settings/aol-dmarc.md
  content/docs/ui/account-and-settings/billing.md
  content/docs/ui/account-and-settings/teammates.md
  content/docs/ui/account-and-settings/verifying-your-account.md
  content/docs/ui/analytics-and-reporting/geographic.md
  content/docs/ui/analytics-and-reporting/tracking-data-with-keen-io.md
  content/docs/ui/managing-contacts/building-your-contact-list.md
  content/docs/ui/sending-email/content-delivery-networks.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/recipient-subscription-preferences.md
  content/docs/ui/sending-email/universal-links.md
  src/favicon.png
  src/img/email-event-flow.png
  static/img/edit-email-automation.png
  yarn.lock
Labels: status: docs review request

#4150 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: difficulty: medium, hacktoberfest, status: hacktoberfest approved

#4162 Update release-notes.jsx
  src/pages/release-notes.jsx
Labels: difficulty: medium, hacktoberfest, hall of fame, status: hacktoberfest approved

#4154 Fix grammar error
  content/docs/ui/account-and-settings/how-to-set-up-domain-authentication.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4155 Fixed typo
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4156 Fixed small typo
  content/docs/for-developers/partners/magento.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4157 Made Minor changes
  content/docs/for-developers/sending-email/integrating-with-the-smtp-api.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4178 Rename sendgrid.net-greylisted to sendgrid-net-greylisted
  content/docs/ui/sending-email/sendgrid-net-greylisted.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4183 Removed Google Plus icon.
  src/constants/socialLinks.js
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4152 Fix keywords-and-operator-reference link
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4160 Update symfony.md
  content/docs/for-developers/sending-email/symfony.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4170 Update codeigniter.md
  content/docs/for-developers/sending-email/codeigniter.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4140 Update styleguide.md
  styleguide.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4171 Update exchange-2010.md
  content/docs/for-developers/sending-email/exchange-2010.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4168 Update magento.md
  content/docs/for-developers/partners/magento.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4181 FIx few typos and improve grammar
  content/docs/ui/sending-email/using-handlebars.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4172 Fixes math for rates note
  source/API_Reference/Web_API_v3/Marketing_Campaigns/contactdb.apiblueprint
Labels: difficulty: easy, hacktoberfest, hall of fame, status: docs review request, status: hacktoberfest approved

#4174 Line 26 [SMTP API Link - routes to 404 Error
  content/docs/for-developers/sending-email/categories.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4177 Remove 404'ed Link To SendGrid List Assist
  content/docs/glossary/transactional-email.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4196 changed line height.
  src/scss/components/_cards.scss
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4197 wider search results.
  src/scss/components/_algolia.scss
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4195 Add missing images to Piesync article
  content/docs/for-developers/sending-email/piesync.md
  content/docs/ui/account-and-settings/api-keys.md
  static/img/piesync-default-fields.png
  static/img/piesync-field-mapping.png
  static/img/piesync-if-then-filters.png
  static/img/piesync-verify-api-key.png
Labels: difficulty: medium, hacktoberfest, status: hacktoberfest approved

#4179 Fix Link for Send Email Using SendGrid on Azure
  content/docs/for-developers/partners/microsoft-azure.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4199 added margin to logged in user name.
  src/components/NavMain/NavMain.scss
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4184 update contribution guideline
  .github/CONTRIBUTING.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4191 Update jelastic.md
  content/docs/for-developers/partners/jelastic.md
Labels: difficulty: easy, hacktoberfest, hall of fame, status: docs review request, status: hacktoberfest approved

#4194 Adding image to styleguide
  static/img/docs-architecture-group.png
Labels: status: docs review request

#4202 changed icon color
  src/img/release-note-ui.svg
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4198 Create 2017-08-01
  content/docs/release-notes/2018-10-15.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4200 Merging Develop into Master 10.12.2018 - Hacktoberfest - styleguide issues, grammar fixes, typos
  .github/CONTRIBUTING.md
  content/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook.md
  content/docs/for-developers/partners/amazon-marketplace.md
  content/docs/for-developers/partners/jelastic.md
  content/docs/for-developers/partners/magento.md
  content/docs/for-developers/partners/microsoft-azure.md
  content/docs/for-developers/sending-email/brite-verify.md
  content/docs/for-developers/sending-email/building-an-smtp-email.md
  content/docs/for-developers/sending-email/categories.md
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/exchange-2010.md
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/for-developers/sending-email/getting-started-smtp.md
  content/docs/for-developers/sending-email/how-to-create-a-subuser-with-the-api.md
  content/docs/for-developers/sending-email/integrating-with-the-smtp-api.md
  content/docs/for-developers/sending-email/libraries.md
  content/docs/for-developers/sending-email/piesync.md
  content/docs/for-developers/sending-email/qmail.md
  content/docs/for-developers/sending-email/symfony.md
  content/docs/glossary/transactional-email.md
  content/docs/release-notes/2018-10-15.md
  content/docs/ui/account-and-settings/api-keys.md
  content/docs/ui/account-and-settings/how-to-set-up-domain-authentication.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/sendgrid-net-greylisted.md
  content/docs/ui/sending-email/using-handlebars.md
  src/components/NavMain/NavMain.scss
  src/constants/socialLinks.js
  src/img/release-note-ui.svg
  src/pages/release-notes.jsx
  src/scss/components/_algolia.scss
  src/scss/components/_cards.scss
  static/img/docs-architecture-group.png
  static/img/piesync-default-fields.png
  static/img/piesync-field-mapping.png
  static/img/piesync-if-then-filters.png
  static/img/piesync-verify-api-key.png
  styleguide.md
Labels: status: docs review request

#4203 Fix tip spacing on api keys article
  content/docs/ui/account-and-settings/api-keys.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4205 Update 2018-10-15.md
  content/docs/release-notes/2018-10-15.md
Labels: status: docs review request

#4207 Update a-b-testing.md
  content/docs/ui/sending-email/a-b-testing.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4208 Update create-and-edit-transactional-templates.md
  content/docs/ui/sending-email/create-and-edit-transactional-templates.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4209 Update cross-platform-html-design.md
  content/docs/ui/sending-email/cross-platform-html-design.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4190 Update Reputation page in glossary
  content/docs/glossary/reputation-monitoring.md
  content/docs/ui/sending-email/reputation.md
  static/images/reputation_monitoring_1.png
Labels: difficulty: hard, hacktoberfest, status: hacktoberfest approved

#4213 closing anchor tag for"Group Resubscribe" is missing
  content/docs/for-developers/tracking-events/event.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4215 Update how-to-send-email-with-marketing-campaigns.md.
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
Labels: status: docs review request

#4210 Update deliverability.md
  content/docs/ui/sending-email/deliverability.md
Labels: difficulty: medium, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4216 Update editor.md.
  content/docs/ui/sending-email/editor.md
Labels: difficulty: easy, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4220 Fixing IP warmup math error
  content/docs/ui/sending-email/warming-up-an-ip-address.md
Labels: status: docs review request

#4222 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#4232 Update substitution-and-section-tags.md
  content/docs/ui/sending-email/substitution-and-section-tags.md
Labels: difficulty: hard, hacktoberfest, status: docs review request, status: hacktoberfest approved

#4224 Merging Develop into Master 10.15.2018 - Hacktoberfest, Automation beta live!
  content/docs/for-developers/partners/google.md
  content/docs/for-developers/sending-email/applemail.md
  content/docs/for-developers/sending-email/how-to-use-a-transactional-template-with-smtp.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/glossary/domain.md
  content/docs/glossary/reputation-monitoring.md
  content/docs/glossary/transactional-email.md
  content/docs/release-notes/2018-10-15.md
  content/docs/ui/account-and-settings/api-keys.md
  content/docs/ui/sending-email/a-b-testing.md
  content/docs/ui/sending-email/blacklists.md
  content/docs/ui/sending-email/create-and-edit-transactional-templates.md
  content/docs/ui/sending-email/cross-platform-html-design.md
  content/docs/ui/sending-email/deliverability.md
  content/docs/ui/sending-email/editor.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
  content/docs/ui/sending-email/old-editor-sunset.md
  content/docs/ui/sending-email/reputation.md
  content/docs/ui/sending-email/spam.md
  content/docs/ui/sending-email/substitution-and-section-tags.md
  content/docs/ui/sending-email/warming-up-an-ip-address.md
  static/images/reputation_monitoring_1.png
Labels: status: docs review request

#4242 Added a note to AWS page
  content/docs/for-developers/partners/amazon-marketplace.md
Labels: status: docs review request

#4241 Update substitution-tags.md
  content/docs/for-developers/sending-email/substitution-tags.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4265 Update unique-arguments.md
  content/docs/for-developers/sending-email/unique-arguments.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4264 Update suppressions.md
  content/docs/for-developers/sending-email/suppressions.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4263 Update substitutions-tags.md
  content/docs/for-developers/sending-email/substitution-tags.md
Labels: status: docs review request

#4262 Update how-to-use-a-transactional-template-with-smtp.md
  content/docs/for-developers/sending-email/how-to-use-a-transactional-template-with-smtp.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4261 Update section-tags.md
  content/docs/for-developers/sending-email/section-tags.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4260 Update scheduling-parameters.md
  content/docs/for-developers/sending-email/scheduling-parameters.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4259 Update smtp-ruby-code-example.md
  content/docs/for-developers/sending-email/smtp-ruby-code-example.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4248 Update groups.js
  src/constants/groups.js
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4249 Update styleguide.md
  styleguide.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4250 Update building-an-smtp-email.md
  content/docs/for-developers/sending-email/building-an-smtp-email.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4251 Update categories.md
  content/docs/for-developers/sending-email/categories.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved

#4252 Update smtp-filters.md
  content/docs/for-developers/sending-email/smtp-filters.md
Labels: status: docs review request

#4253 Update smtp-go-code-example.md
  content/docs/for-developers/sending-email/smtp-go-code-example.md
Labels: hacktoberfest, status: docs review request, status: hacktoberfest approved

#4258 Update smtp-python-code-example.md
  content/docs/for-developers/sending-email/smtp-python-code-example.md
Labels: difficulty: easy, hacktoberfest, status: hacktoberfest approved
