Repository sendgrid/docs, pull requests merged in 2019-11, with the labels that each got.

#5636 amp specification url to point to amp-emails
  content/docs/for-developers/tracking-events/google-amp-for-email.md
Labels: status: docs review request

#5646 Fix broken Keen links and drop IO
  content/docs/for-developers/tracking-events/analytics-with-keen-io.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/for-developers/tracking-events/getting-started-event-webhook.md
  content/docs/for-developers/tracking-events/troubleshooting.md
  content/docs/ui/analytics-and-reporting/tracking-data-with-keen-io.md
Labels: status: docs review request

#5639 Fixed link to SMTP configuration details
  content/docs/glossary/web-api.md
Labels: status: docs review request

#5640 Fixed broken link to Email Deliverability Guide
  content/docs/glossary/deliverability.md
Labels: status: docs review request

#5641 Fixed broken link to Email Deliverability article
  content/docs/ui/sending-email/deliverability.md
Labels: status: docs review request

#5652 Update event.md
  content/docs/for-developers/tracking-events/event.md
Labels: status: docs review request

#5651 Update migrating-from-legacy-marketing-campaigns.md
  content/docs/ui/sending-email/migrating-from-legacy-marketing-campaigns.md
Labels: status: docs review request

#5648 Update broken links on automations page
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
Labels: status: docs review request

#5644 Clarifying Events & Credits
  content/docs/for-developers/sending-email/sandbox-mode.md
Labels: status: docs review request

#5656 Merging Develop into Master 11/13/2019 - typo fixes, fixing broken links
  content/docs/for-developers/sending-email/rubyonrails.md
  content/docs/for-developers/sending-email/sandbox-mode.md
  content/docs/for-developers/tracking-events/analytics-with-keen-io.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/for-developers/tracking-events/getting-started-event-webhook.md
  content/docs/for-developers/tracking-events/google-amp-for-email.md
  content/docs/for-developers/tracking-events/troubleshooting.md
  content/docs/glossary/deliverability.md
  content/docs/glossary/web-api.md
  content/docs/ui/analytics-and-reporting/tracking-data-with-keen-io.md
  content/docs/ui/sending-email/deliverability.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
  content/docs/ui/sending-email/migrating-from-legacy-marketing-campaigns.md
Labels: status: docs review request

#5657 Adding a video to the unsub page.
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
Labels: status: docs review request

#5660 Update Editor
  content/docs/ui/sending-email/editor.md
Labels: status: docs review request

#5661 Remove Code Completion
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
Labels: status: docs review request

#5658 Add top margin to Markdown header anchors
  src/scss/global/_variables.scss
  src/templates/doc.scss
Labels: status: docs review request, type: bug, type: dev

#5662 Removing the outdated video.
  content/docs/ui/sending-email/unsubscribe-groups.md
Labels: status: docs review request

#5645 message is reserved in laravel
  content/docs/for-developers/sending-email/laravel.md
Labels: status: docs review request, status: updates requested

#5663 Merging Develop into Master 11/21/2019: Update videos and code samples, CSS change
  content/docs/for-developers/sending-email/laravel.md
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
  content/docs/ui/sending-email/editor.md
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
  content/docs/ui/sending-email/unsubscribe-groups.md
  src/scss/global/_variables.scss
  src/templates/doc.scss
Labels: status: docs review request

#5666 Revert "Add top margin to Markdown header anchors"
  src/scss/global/_variables.scss
  src/templates/doc.scss
Labels: status: docs review request

#5667 Revert CSS Change
  src/scss/global/_variables.scss
  src/templates/doc.scss
Labels: status: docs review request
