Repository sendgrid/docs, pull requests merged in 2019-06, with the labels that each got.

#5277 uploading screenshot
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/add_email_content.png
Labels: status: docs review request

#5280 Add step to account cancellation process
  content/docs/ui/account-and-settings/cancel-your-account.md
Labels: status: docs review request

#5279 Update link for API Keys page
  content/docs/for-developers/sending-email/getting-started-smtp.md
Labels: status: docs review request

#5281 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5275 editing single send
  content/docs/ui/sending-email/custom-fields.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5282 June4releasenote
  content/docs/release-notes/2019-06-04.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/automation-email-edit.png
Labels: status: docs review request

#5283 Merging Develop into Master 6.4.2019 - EASE API release note, Single sends, Account cancellation update, API Key update
  content/docs/for-developers/sending-email/getting-started-smtp.md
  content/docs/release-notes/2019-06-04.md
  content/docs/ui/account-and-settings/cancel-your-account.md
  content/docs/ui/sending-email/custom-fields.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/add_email_content.png
  static/img/automation-email-edit.png
Labels: status: docs review request

#5284 fixing callout formatting
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5285 Merging Develop into Master 6.4.2019 - fixing callout formatting in Automation docs
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5286 fixing formatting in Automation docs
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5287 Fixing a typo
  content/docs/release-notes/2019-06-04.md
Labels: status: docs review request

#5289 Merging Develop into Master 6.6.19 - fixing typo in release note, fixing formatting in automation docs
  content/docs/release-notes/2019-06-04.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5290 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5291 remove contradictory verbiage
  content/docs/for-developers/sending-email/smtp-filters.md
Labels: status: docs review request

#5292 Remove Contradictory statement.
  source/API_Reference/SMTP_API/apps.html
Labels: status: docs review request

#5293 Add Click Tracking enable_text setting
  content/docs/for-developers/sending-email/smtp-filters.md
Labels: status: docs review request

#5294 Add Click Tracking setting enable_text
  source/API_Reference/SMTP_API/apps.html
Labels: status: docs review request

#5295 Add example to click-tracking
  content/docs/for-developers/sending-email/smtp-filters.md
Labels: status: docs review request

#5299 Merging Develop into Master 6.11.2019 - Automation pricing updates, click tracking updates
  content/docs/for-developers/sending-email/smtp-filters.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5298 Merging Old develop into old-master 6.11.2019 - click tracking updates
  source/API_Reference/SMTP_API/apps.html
Labels: status: docs review request

#5300 Minor npm upgrades
  .travis.yml
  yarn.lock
Labels: status: docs review request

#5297 Dynamic Transactional Templates link broken
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
Labels: status: docs review request

#5304 Update suppressions.md
  content/docs/for-developers/sending-email/suppressions.md
Labels: status: docs review request

#5305 Update getting-started-with-automation.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5303 Adding link to Pipedream pipeline
  content/docs/for-developers/tracking-events/event.md
Labels: status: docs review request

#5307 Dedicated ip addresses.md
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
  content/docs/ui/account-and-settings/subusers.md
Labels: status: docs review request

#5306 Adding subusers to Dedicated IP Addresses
  content/docs/ui/account-and-settings/subusers.md
Labels: status: docs review request

#5308 Merging Develop into Master 6.19.2019 - Fixing broken links, adding subuser IP address managment info from UI,
  .travis.yml
  content/docs/for-developers/sending-email/suppressions.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
  content/docs/ui/account-and-settings/subusers.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
  yarn.lock
Labels: status: docs review request

#5309 Small grammatical fix
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
Labels: status: docs review request

#5310 fixing broken/non-rendered link
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5311 Merging Develop into Master 6.20.2019 - fixing broken links, some small grammatical changes.
  content/docs/ui/account-and-settings/dedicated-ip-addresses.md
  content/docs/ui/sending-email/getting-started-with-automation.md
Labels: status: docs review request

#5313 fixing broken link
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
Labels: status: docs review request

#5314 fixing broken links
  content/docs/for-developers/sending-email/using-handlebars.md
Labels: status: docs review request

#5315 Update migrating-from-legacy-templates.md
  content/docs/ui/sending-email/migrating-from-legacy-templates.md
Labels: status: docs review request

#5316 Merging Develop into Master 6.24.2019 - fixing broken links in dynamic templates docs
  content/docs/for-developers/sending-email/using-handlebars.md
  content/docs/ui/sending-email/how-to-send-an-email-with-dynamic-transactional-templates.md
  content/docs/ui/sending-email/migrating-from-legacy-templates.md
Labels: status: docs review request

#5320 Adding TNE images
  static/img/ab-tabs.png
  static/img/api-key-page.png
  static/img/create-api-key.png
  static/img/email-address-validation-stats.png
  static/img/example-csv.png
  static/img/invoice-IP-address.png
  static/img/invoice-contact-1.png
  static/img/invoice-contact-storage.png
  static/img/invoice-ease.png
  static/img/invoice-legend.png
  static/img/invoice-overage.png
  static/img/invoice-payment-summary.png
  static/img/invoice-plan.png
  static/img/invoice-tax.png
  static/img/sender-tag-comparison.png
  static/img/substitution-tag-comparison.png
  static/img/unique-clicks-data.png
Labels: status: docs review request

#5331 Web 511
  .babelrc
  .travis.yml
  gatsby-node.js
  package.json
  src/components/BreadCrumbs/index.jsx
  src/components/FooterCallout/index.jsx
  src/components/GlossaryPartial/glossaryPartial.jsx
  src/components/Group/index.jsx
  src/components/NavMain/index.jsx
  src/components/NavSub/index.jsx
  src/components/layout/NoHeaderFooter.jsx
  src/components/layout/index.css
  src/components/layout/index.jsx
  src/pages/404.jsx
  src/pages/api-reference.jsx
  src/pages/for-developers.jsx
  src/pages/glossary.jsx
  src/pages/index.jsx
  src/pages/release-notes.jsx
  src/pages/site-map.jsx
  src/templates/category.jsx
  src/templates/doc.jsx
  yarn.lock
Labels: status: docs review request, status: not ready

#5334 Revert "Web 511"
  .babelrc
  .travis.yml
  gatsby-node.js
  package.json
  src/components/BreadCrumbs/index.jsx
  src/components/FooterCallout/index.jsx
  src/components/GlossaryPartial/glossaryPartial.jsx
  src/components/Group/index.jsx
  src/components/NavMain/index.jsx
  src/components/NavSub/index.jsx
  src/layouts/index.css
  src/layouts/index.jsx
  src/layouts/noHeaderFooter.jsx
  src/pages/404.jsx
  src/pages/api-reference.jsx
  src/pages/for-developers.jsx
  src/pages/glossary.jsx
  src/pages/index.jsx
  src/pages/release-notes.jsx
  src/pages/site-map.jsx
  src/templates/category.jsx
  src/templates/doc.jsx
  yarn.lock
Labels: status: docs review request

#5333 Coming soon to marketing campaigns
  content/docs/ui/account-and-settings/upgrading-your-account.md
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
Labels: status: docs review request

#5322 New IP Warmup Page
  content/docs/ui/sending-email/ip-warmup-for-the-new-marketing-campaigns-experience.md
Labels: status: docs review request, status: waiting on release

#5327 Senderstne
  content/docs/ui/sending-email/senders.md
  static/img/email-validation-clicking.gif
Labels: status: docs review request

#5329 Reading your invoice
  content/docs/ui/account-and-settings/reading-your-invoice.md
  content/docs/ui/sending-email/ip-warmup-for-the-new-marketing-campaigns-experience.md
  static/img/invoice-marketing-plan.png
Labels: status: docs review request

#5321 TNE docs updates
  content/docs/glossary/mail-merge.md
  content/docs/release-notes/2017-11-01.md
  content/docs/ui/account-and-settings/billing.md
  content/docs/ui/account-and-settings/notifications.md
  content/docs/ui/managing-contacts/adding-contacts.md
  content/docs/ui/managing-contacts/create-and-manage-contacts.md
  content/docs/ui/managing-contacts/custom-fields.md
  content/docs/ui/managing-contacts/managing-contact-list.md
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  content/docs/ui/sending-email/a-b-testing.md
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
  content/docs/ui/sending-email/custom-fields.md
  content/docs/ui/sending-email/editor.md
  content/docs/ui/sending-email/email-testing.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
  content/docs/ui/sending-email/legacy-newsletter-sunset.md
  content/docs/ui/sending-email/migrating-from-legacy-to-new-marketing-campaigns.md
  content/docs/ui/sending-email/working-with-marketing-templates.md
  redirects.js
  src/constants/homeCallouts.js
  src/constants/homeCards.js
  static/config.json
  static/img/choose-editor.png
  static/img/substitution-tag-comparison.png
Labels: status: docs review request, status: not ready, status: waiting on release

#5336 Merging Develop into Master 6.27.2019 - TNE Limited Access Release!
  content/docs/glossary/mail-merge.md
  content/docs/release-notes/2017-11-01.md
  content/docs/ui/account-and-settings/billing.md
  content/docs/ui/account-and-settings/notifications.md
  content/docs/ui/account-and-settings/reading-your-invoice.md
  content/docs/ui/account-and-settings/upgrading-your-account.md
  content/docs/ui/managing-contacts/adding-contacts.md
  content/docs/ui/managing-contacts/create-and-manage-contacts.md
  content/docs/ui/managing-contacts/custom-fields.md
  content/docs/ui/managing-contacts/managing-contact-list.md
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  content/docs/ui/sending-email/a-b-testing.md
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
  content/docs/ui/sending-email/create-and-manage-unsubscribe-groups.md
  content/docs/ui/sending-email/custom-fields.md
  content/docs/ui/sending-email/editor.md
  content/docs/ui/sending-email/email-testing.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
  content/docs/ui/sending-email/ip-warmup-for-the-new-marketing-campaigns-experience.md
  content/docs/ui/sending-email/legacy-newsletter-sunset.md
  content/docs/ui/sending-email/migrating-from-legacy-to-new-marketing-campaigns.md
  content/docs/ui/sending-email/senders.md
  content/docs/ui/sending-email/working-with-marketing-templates.md
  redirects.js
  src/constants/homeCallouts.js
  src/constants/homeCards.js
  static/config.json
  static/img/ab-tabs.png
  static/img/api-key-page.png
  static/img/choose-editor.png
  static/img/create-api-key.png
  static/img/email-address-validation-stats.png
  static/img/email-validation-clicking.gif
  static/img/example-csv.png
  static/img/invoice-IP-address.png
  static/img/invoice-contact-1.png
  static/img/invoice-contact-storage.png
  static/img/invoice-ease.png
  static/img/invoice-legend.png
  static/img/invoice-marketing-plan.png
  static/img/invoice-overage.png
  static/img/invoice-payment-summary.png
  static/img/invoice-plan.png
  static/img/invoice-tax.png
  static/img/sender-tag-comparison.png
  static/img/substitution-tag-comparison.png
  static/img/unique-clicks-data.png
Labels: status: docs review request

#5337 Update email-testing.md
  content/docs/ui/sending-email/email-testing.md
Labels: status: docs review request

#5338 Rename migrating-from-legacy-to-new-marketing-campaigns.md to migrati…
  content/docs/ui/sending-email/migrating-from-legacy-marketing-campaigns.md
Labels: status: docs review request

#5339 Merging Develop into Master 6.27.2019 - fixing groups, fixing urls
  content/docs/ui/sending-email/email-testing.md
  content/docs/ui/sending-email/migrating-from-legacy-marketing-campaigns.md
Labels: status: docs review request

#5342 Update reading-your-invoice.md
  content/docs/ui/account-and-settings/reading-your-invoice.md
Labels: status: docs review request

#5343 Callout Fix
  content/docs/ui/sending-email/senders.md
Labels: status: docs review request

#5344 Adding call-out
  content/docs/ui/sending-email/custom-fields.md
Labels: status: docs review request

#5345 Fixing Plan Names
  content/docs/ui/account-and-settings/subusers.md
Labels: status: docs review request

#5346 Update formatting-a-csv.md
  content/docs/ui/managing-contacts/formatting-a-csv.md
Labels: status: docs review request

#5349 Update billing.md
  content/docs/ui/account-and-settings/billing.md
Labels: status: docs review request

#5350 Update senders.md
  content/docs/ui/sending-email/senders.md
Labels: status: docs review request

#5347 Merging Develop into Master 6.28.2019 - fixing TNE updates
  content/docs/ui/account-and-settings/billing.md
  content/docs/ui/account-and-settings/reading-your-invoice.md
  content/docs/ui/account-and-settings/subusers.md
  content/docs/ui/managing-contacts/formatting-a-csv.md
  content/docs/ui/sending-email/custom-fields.md
  content/docs/ui/sending-email/senders.md
  static/img/confirm_unsub_group_delete.png
Labels: status: docs review request
