Repository sendgrid/docs, pull requests merged in 2019-10, with the labels that each got.

#5570 Email Validation Release Note
  content/docs/release-notes/2019-10-01.md
Labels: status: docs review request

#5572 Remove extra whitespace
  content/docs/for-developers/sending-email/using-handlebars.md
Labels: hacktoberfest, status: docs review request

#5575 #5319: Update Steps to Send SMTP Email
  content/docs/for-developers/sending-email/getting-started-smtp.md
Labels: status: docs review request

#5576 Corrected min TLS version used on TLS doc
  content/docs/ui/sending-email/tls.md
Labels: status: docs review request

#5578 Update email-address-validation.md
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: status: docs review request

#5579 Merging Develop into Master - Email Validation updates, Hacktoberfest PRs
  content/docs/for-developers/sending-email/getting-started-smtp.md
  content/docs/ui/managing-contacts/email-address-validation.md
  content/docs/ui/sending-email/tls.md
Labels: status: docs review request

#5587 remove beta and link to new api reference
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: hacktoberfest, status: docs review request

#5585 Fix some lint warnings in docs
  content/docs/for-developers/partners/azure.md
  content/docs/for-developers/sending-email/cloud-rail.md
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/django.md
  content/docs/for-developers/sending-email/exim.md
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/for-developers/sending-email/how-to-create-a-subuser-with-the-api.md
  content/docs/for-developers/sending-email/how-to-use-a-transactional-template-with-smtp-or-v2.md
  content/docs/for-developers/sending-email/iis75.md
  content/docs/for-developers/sending-email/laravel.md
  content/docs/for-developers/sending-email/migrating-from-v2-to-v3-mail-send.md
  content/docs/for-developers/sending-email/personalizations.md
  content/docs/for-developers/sending-email/postfix.md
  content/docs/for-developers/sending-email/qmail.md
  content/docs/for-developers/sending-email/rubyonrails.md
  content/docs/for-developers/sending-email/sandbox-mode.md
  content/docs/for-developers/sending-email/scheduling-parameters.md
  content/docs/for-developers/sending-email/section-tags.md
  content/docs/for-developers/sending-email/send-mime-messages-with-sendGrid.md
  content/docs/for-developers/sending-email/smtp-errors-and-troubleshooting.md
  content/docs/for-developers/sending-email/smtp-filters.md
Labels: status: docs review request

#5583 Update validation_results spelling
  content/docs/for-developers/sending-email/automating-subusers.md
Labels: status: docs review request

#5582 Close the same tag as we open
  content/docs/examples.md
Labels: status: docs review request

#5584 Lint fixes
  content/docs/for-developers/sending-email/cakephp.md
Labels: status: docs review request

#5581 Comply with markdown lint (MD039)
  content/docs/for-developers/partners/amazon-marketplace.md
Labels: status: docs review request

#5591 Replacing url in spf.md to be a generic url (example.com) #5135
  content/docs/glossary/spf.md
Labels: hacktoberfest, status: docs review request

#5595 RL V2 release note
  content/docs/release-notes/2019-10-10.md
Labels: status: docs review request

#5596 Merging Develop into Master 10.10.2019 - Hacktoberfest updates, RLV2 release note, email validation updates
  content/docs/examples.md
  content/docs/for-developers/partners/amazon-marketplace.md
  content/docs/for-developers/partners/azure.md
  content/docs/for-developers/sending-email/automating-subusers.md
  content/docs/for-developers/sending-email/cakephp.md
  content/docs/for-developers/sending-email/cloud-rail.md
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/django.md
  content/docs/for-developers/sending-email/exim.md
  content/docs/for-developers/sending-email/getting-started-email-activity-api.md
  content/docs/for-developers/sending-email/how-to-create-a-subuser-with-the-api.md
  content/docs/for-developers/sending-email/how-to-use-a-transactional-template-with-smtp-or-v2.md
  content/docs/for-developers/sending-email/iis75.md
  content/docs/for-developers/sending-email/laravel.md
  content/docs/for-developers/sending-email/migrating-from-v2-to-v3-mail-send.md
  content/docs/for-developers/sending-email/personalizations.md
  content/docs/for-developers/sending-email/postfix.md
  content/docs/for-developers/sending-email/qmail.md
  content/docs/for-developers/sending-email/rubyonrails.md
  content/docs/for-developers/sending-email/sandbox-mode.md
  content/docs/for-developers/sending-email/scheduling-parameters.md
  content/docs/for-developers/sending-email/section-tags.md
  content/docs/for-developers/sending-email/send-mime-messages-with-sendGrid.md
  content/docs/for-developers/sending-email/smtp-errors-and-troubleshooting.md
  content/docs/for-developers/sending-email/smtp-filters.md
  content/docs/for-developers/tracking-events/event.md
  content/docs/glossary/spf.md
  content/docs/release-notes/2019-10-10.md
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: status: docs review request

#5597 Fix #5542 Mention text parameter
  content/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook.md
Labels: status: docs review request

#5603 Adding in an updated support video on Senders
  content/docs/ui/sending-email/senders.md
Labels: status: docs review request

#5600 Remove Tip from 2-FA page
  content/docs/ui/account-and-settings/two-factor-authentication.md
Labels: hacktoberfest, status: docs review request

#5599 Update hipaa-compliant.md
  content/docs/ui/account-and-settings/hipaa-compliant.md
Labels: status: docs review request

#5604 Merging from develop 10/16/2019 - Hacktoberfest, new senders video, typo fixes
  content/docs/for-developers/parsing-email/setting-up-the-inbound-parse-webhook.md
  content/docs/ui/account-and-settings/hipaa-compliant.md
  content/docs/ui/account-and-settings/two-factor-authentication.md
  content/docs/ui/sending-email/senders.md
Labels: status: docs review request

#5335 Updates Gatsby to v2
  .babelrc
  .travis.yml
  gatsby-browser.js
  gatsby-node.js
  package.json
  src/components/BreadCrumbs/index.jsx
  src/components/FooterCallout/index.jsx
  src/components/GlossaryPartial/glossaryPartial.jsx
  src/components/Group/index.jsx
  src/components/NavMain/NavMain.scss
  src/components/NavMain/index.jsx
  src/components/NavSub/NavSub.scss
  src/components/NavSub/index.jsx
  src/components/layout/NoHeaderFooter.jsx
  src/components/layout/index.jsx
  src/html.jsx
  src/layouts/index.css
  src/pages/404.jsx
  src/pages/api-reference.jsx
  src/pages/for-developers.jsx
  src/pages/glossary.jsx
  src/pages/index.jsx
  src/pages/release-notes.jsx
  src/pages/site-map.jsx
  src/templates/category.jsx
  src/templates/doc.jsx
  yarn.lock
Labels: status: docs review request, status: not ready

#5612 Update packages & fix seo frontmatter typo
  .travis.yml
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
  gatsby-node.js
  package.json
  yarn.lock
Labels: status: docs review request

#5602 Web-1319
  content/docs/ui/sending-email/getting-started-with-automation.md
  content/docs/ui/sending-email/how-to-send-email-with-marketing-campaigns.md
  src/components/Group/index.jsx
  src/templates/category.jsx
Labels: status: docs review request

#5613 Update marketing-campaigns-stats.md
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
Labels: status: docs review request

#5618 Update editor.md
  content/docs/ui/sending-email/editor.md
Labels: status: docs review request

#5619 Add Sign in with Apple doc, which is needed for the UI update in the Domain Authentication page.
  content/docs/ui/account-and-settings/configuring-sign-in-with-apple.md
  content/docs/ui/account-and-settings/how-to-set-up-domain-authentication.md
  static/img/sign-in-apple-sender-auth-info-modal.png
  static/img/sign-in-apple-sender-auth-settings.png
  static/img/sign-in-apple-sender-auth-tooltip.png
Labels: status: docs review request

#5621 Update coming-soon-to-new-marketing-campaigns.md
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
Labels: status: docs review request

#5622 Add release note for Sign in with Apple UI Change
  content/docs/release-notes/2019-10-23.md
Labels: status: docs review request

#5624 Merge develop to add 2019-10-23 Sign in with Apple Release Note
  content/docs/release-notes/2019-10-23.md
Labels: status: docs review request

#5625 Some additional notes on our offering
  content/docs/for-developers/sending-email/piesync.md
Labels: status: docs review request

#5628 Update link to docs in release note
  content/docs/release-notes/2019-09-19.md
Labels: status: docs review request

#5626 Update dkim.md
  content/docs/glossary/dkim.md
Labels: status: docs review request

#5629 Merging Develop into Master 10/24/2019 - Updating sign in with apple release note links, DKIM update, PieSync update
  content/docs/for-developers/sending-email/piesync.md
  content/docs/glossary/dkim.md
  content/docs/release-notes/2019-09-19.md
Labels: status: docs review request

#5630 override container width for stoplight docs
  src/pages/api-reference.scss
Labels: status: docs review request

#5498 *Hold for Release* Downgrade Warning
  content/docs/ui/account-and-settings/billing.md
Labels: status: docs review request

#5497 *HOLD FOR RELEASE* Downgrade deletion of contacts warning
  content/docs/ui/sending-email/migrating-from-legacy-marketing-campaigns.md
Labels: status: docs review request

#5632 Update mx-record.md
  content/docs/glossary/mx-record.md
Labels: status: docs review request
