Repository sendgrid/docs, pull requests merged in 2020-08, with the labels that each got.

#6171 Sendmail requires "apikey" as the username when using an API key, not your username
  content/docs/for-developers/sending-email/sendmail.md
Labels: status: docs review request

#6166 update laravel documentation
  content/docs/for-developers/sending-email/laravel.md
Labels: status: docs review request

#6174 Moving around the order
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
Labels: status: docs review request

#6175 Update SPF doc to included info about automated security
  content/docs/ui/account-and-settings/spf-records.md
  static/img/domain_auth_advanced_settings.png
Labels: status: docs review request

#6176 Clarify usage of greaterThan / length
  content/docs/for-developers/sending-email/using-handlebars.md
Labels: status: docs review request

#6177 Fix typo
  content/docs/ui/account-and-settings/spf-records.md
Labels: status: docs review request

#6178 Deploy docs 2020-08-05
  content/docs/for-developers/sending-email/laravel.md
  content/docs/for-developers/sending-email/sendmail.md
  content/docs/ui/account-and-settings/spf-records.md
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
  package-lock.json
  static/img/domain_auth_advanced_settings.png
Labels: status: docs review request

#6169 Update SGQL to include missing fields
  content/docs/for-developers/sending-email/segmentation-query-language.md
Labels: status: docs review request, status: under review

#6181 Deploy updates to SGQL reference
  content/docs/for-developers/sending-email/segmentation-query-language.md
Labels: status: docs review request

#6184 Remove Magento partners page
  content/docs/for-developers/partners/jelastic.md
  content/docs/for-developers/partners/magento.md
  redirects.js
Labels: status: docs review request

#6185 Merging Develop into Main 8.7.2020 - removing Magento partner page and redirecting links
  content/docs/for-developers/partners/jelastic.md
  content/docs/for-developers/partners/magento.md
  redirects.js
Labels: status: docs review request

#6189 Format segmentation doc. Add call-out for engagement based segments
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
Labels: status: docs review request

#6190 Deploy updates to segmentation docs
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
Labels: status: docs review request

#6195 Update segmentation docs with more explanations and tables
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  static/img/create_new_segment.png
  static/img/create_new_segment_two_fields.png
  static/img/new_segment_dropdown.png
Labels: status: docs review request, status: not ready, status: under review

#6196 Deploy updates to segmentation docs
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  static/img/create_new_segment.png
  static/img/create_new_segment_two_fields.png
  static/img/new_segment_dropdown.png
Labels: status: docs review request

#6188 Update click-tracking-html-best-practices.md
  content/docs/ui/analytics-and-reporting/click-tracking-html-best-practices.md
Labels: status: docs review request

#6201 Add callout about raw bytes for the signed event webhook
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
Labels: status: docs review request

#6198 Adding prose around the ability to duplicate segments from the index page
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  static/img/duplicate-segment-contact-list-page.png
  static/img/duplicate-segment-details-page.png
Labels: status: docs review request

#6191 Add MC stats glossary page
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats-overview.md
Labels: status: docs review request

#6203 Upgrade dependencies with npm audit
  package-lock.json
  package.json
Labels: status: docs review request

#6197 Redirect api reference from old site and remove duplicate redirects
  redirects.js
Labels: status: docs review request

#6205 Merging Develop into Main 8.20.2020 - cloning segment functionality, redirects, npm update, click tracking best practices, export stats updates
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
  content/docs/ui/analytics-and-reporting/click-tracking-html-best-practices.md
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats-overview.md
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
  package-lock.json
  package.json
  redirects.js
  static/img/duplicate-segment-contact-list-page.png
  static/img/duplicate-segment-details-page.png
Labels: status: docs review request

#6213 Update incorrect username for C# code sample
  content/docs/for-developers/sending-email/v2-csharp-code-example.md
Labels: status: docs review request

#6212 Added info on "source" limit
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: status: docs review request

#6192 Update reputation-monitoring.md
  content/docs/glossary/account-reputation-dashboard
Labels: status: docs review request

#6211 Additional details for Segment Operators allowed within segment conditions
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
Labels: status: docs review request

#6214 Merging Develop into Main 8.27.2020 - rename page to avoid SEO conflicts, update segmentation docs, C# code sample fix
  content/docs/for-developers/sending-email/v2-csharp-code-example.md
  content/docs/glossary/account-reputation-dashboard
  content/docs/ui/managing-contacts/email-address-validation.md
  content/docs/ui/managing-contacts/segmenting-your-contacts.md
Labels: status: docs review request

#6215 Changed API Rate Limit
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: status: docs review request

#6216 Add missing file extension to glossary entry
  content/docs/glossary/account-reputation-dashboard.md
Labels: status: docs review request

#6217 Merging Develop into Main 8.27.2020 - fixing rate limit, adding file extension to renamed file
  content/docs/glossary/account-reputation-dashboard.md
  content/docs/ui/managing-contacts/email-address-validation.md
Labels: status: docs review request
