Repository sendgrid/docs, pull requests merged in 2020-07, with the labels that each got.

#6117 Add more sender identity documentation
  content/docs/glossary/dkim.md
  content/docs/glossary/dmarc.md
  content/docs/glossary/spf.md
  content/docs/glossary/spoofing.md
  content/docs/ui/account-and-settings/aol-dmarc.md
  content/docs/ui/account-and-settings/dkim-records.md
  content/docs/ui/account-and-settings/gmail-dmarc.md
  content/docs/ui/account-and-settings/microsoft-dmarc.md
  content/docs/ui/account-and-settings/spf-records.md
  content/docs/ui/account-and-settings/yahoo-dmarc.md
  content/docs/ui/sending-email/dmarc.md
  content/docs/ui/sending-email/how-to-implement-dmarc.md
  redirects.js
  static/img/dkim_mail_flow.jpeg
  static/img/dkim_spf_pass_1.png
  static/img/dkim_spf_pass_2.png
  static/img/dmarc_mail_flow.jpeg
  static/img/public_key_cryptography.png
  static/img/spf_mail_flow.jpeg
Labels: status: docs review request

#6118 Deploy Sender Identity docs
  content/docs/glossary/dkim.md
  content/docs/glossary/dmarc.md
  content/docs/glossary/spf.md
  content/docs/glossary/spoofing.md
  content/docs/ui/account-and-settings/aol-dmarc.md
  content/docs/ui/account-and-settings/dkim-records.md
  content/docs/ui/account-and-settings/gmail-dmarc.md
  content/docs/ui/account-and-settings/microsoft-dmarc.md
  content/docs/ui/account-and-settings/spf-records.md
  content/docs/ui/account-and-settings/yahoo-dmarc.md
  content/docs/ui/sending-email/dmarc.md
  content/docs/ui/sending-email/how-to-implement-dmarc.md
  redirects.js
  static/img/dkim_mail_flow.jpeg
  static/img/dkim_spf_pass_1.png
  static/img/dkim_spf_pass_2.png
  static/img/dmarc_mail_flow.jpeg
  static/img/public_key_cryptography.png
  static/img/spf_mail_flow.jpeg
Labels: status: docs review request

#6119 Add a quickstart for the v3 Mail Send API and Node.js
  content/docs/for-developers/sending-email/quickstart-nodejs.md
  content/docs/for-developers/sending-email/v3-nodejs-code-example.md
  content/docs/ui/account-and-settings/api-keys.md
  redirects.js
  static/img/api_key_scopes.png
Labels: status: docs review request

#6120 Deploy Node.js Quickstart
  content/docs/for-developers/sending-email/quickstart-nodejs.md
  content/docs/for-developers/sending-email/v3-nodejs-code-example.md
  content/docs/ui/account-and-settings/api-keys.md
  redirects.js
  static/img/api_key_scopes.png
Labels: status: docs review request

#6114 Update Event Webhook Security doc for GA launch
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
Labels: status: docs review request, status: waiting on release

#6123 Deploy Event Webhook helper library links
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
Labels: status: docs review request

#6129 Update broken link
  content/docs/ui/account-and-settings/teammates.md
Labels: status: docs review request

#6127 Update codeigniter.md
  content/docs/for-developers/sending-email/codeigniter.md
Labels: status: docs review request

#6121 Update rubyonrails.md
  content/docs/for-developers/sending-email/rubyonrails.md
Labels: status: docs review request

#6130 Deploy 404 fix, configuration example fixes
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/rubyonrails.md
  content/docs/ui/account-and-settings/teammates.md
Labels: status: docs review request

#6133 Adding Valimail Links
  content/docs/ui/sending-email/how-to-implement-dmarc.md
Labels: status: docs review request

#6134 Adding Valimail links part two
  content/docs/ui/sending-email/dmarc.md
Labels: status: docs review request

#6135 Deploy Valimail DMARC updates
  content/docs/ui/sending-email/dmarc.md
  content/docs/ui/sending-email/how-to-implement-dmarc.md
Labels: status: docs review request

#6137 Update missing or broken links
  content/docs/for-developers/sending-email/quickstart-nodejs.md
  content/docs/ui/account-and-settings/spf-dkim.md
Labels: status: docs review request

#6128 Remove beta flag from Secure Event Webhook for GA release
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
  content/docs/release-notes/2020-07-13.md
Labels: status: docs review request, status: waiting on release

#6139 Merging Develop into Main 7.13.2020 - Removing beta tags from Secure Event Webhook, updating links
  content/docs/for-developers/sending-email/quickstart-nodejs.md
  content/docs/for-developers/tracking-events/getting-started-event-webhook-security-features.md
  content/docs/release-notes/2020-07-13.md
  content/docs/ui/account-and-settings/spf-dkim.md
Labels: status: docs review request

#6136 Update Handlebars doc with new Dynamic Template helpers
  content/docs/for-developers/sending-email/using-handlebars.md
Labels: status: docs review request, status: under review

#6147 Deploy handlebars update
  content/docs/for-developers/sending-email/using-handlebars.md
Labels: status: docs review request

#6141 Link tracking updates
  content/docs/ui/analytics-and-reporting/click-tracking-html-best-practices.md
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/link-tracking-tne.png
Labels: status: docs review request, status: waiting on release

#6148 Merging Develop into Main 7.21.2020 - Click tracking updates
  content/docs/ui/analytics-and-reporting/click-tracking-html-best-practices.md
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/link-tracking-tne.png
Labels: status: docs review request

#6143 Update utm-parameters.md
  content/docs/glossary/utm-parameters.md
Labels: status: docs review request

#6149 Click tracking updates - new screenshot, updated note verbiage
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
  content/docs/ui/sending-email/getting-started-with-automation.md
  static/img/link-tracking-tne.png
Labels: status: docs review request

#6151 Click tracking updates
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
Labels: status: docs review request

#6138 Update sender identity requirement note
  content/docs/for-developers/sending-email/sender-identity.md
  content/docs/ui/sending-email/sender-verification.md
Labels: status: docs review request

#6156 PI2 updates to Coming Soon page
  content/docs/ui/sending-email/coming-soon-to-new-marketing-campaigns.md
  src/scss/global/_typography.scss
Labels: status: docs review request

#6153 Update marketing-campaigns-stats.md
  content/docs/ui/analytics-and-reporting/marketing-campaigns-stats.md
Labels: status: docs review request

#6112 Change port for SMTP
  content/docs/for-developers/sending-email/rubyonrails.md
Labels: status: docs review request

#6158 Update SMTP auth with correct apikey username. Fix a 404
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/smtp-perl-code-example.md
  content/docs/for-developers/sending-email/smtp-ruby-code-example.md
  content/docs/for-developers/sending-email/ssmtp.md
  content/docs/ui/account-and-settings/tracking.md
Labels: status: docs review request

#6160 Deploy handlebars, SMTP auth, and 404 fixes
  content/docs/for-developers/sending-email/codeigniter.md
  content/docs/for-developers/sending-email/rubyonrails.md
  content/docs/for-developers/sending-email/smtp-perl-code-example.md
  content/docs/for-developers/sending-email/smtp-ruby-code-example.md
  content/docs/for-developers/sending-email/ssmtp.md
  content/docs/for-developers/sending-email/using-handlebars.md
  content/docs/ui/account-and-settings/tracking.md
Labels: status: docs review request
